<script>

  function toggle_change_element(element_id) {
    alert(element_id);
    return false;
  }

  function toggle_change_user(user_id) {
    alert(user_id);
    return false;
  }

</script>

<style>

  .diff-radius {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
  }

  /* Main */

  #differentiator {
    width: 700px;
  }

  #differentiator-tabs {
    height: 29px;
    margin-bottom: 15px;
    list-style-type: none;
    border-bottom: 1px solid #dddddd;
  }

  #differentiator-tabs li {
    float: left;
    margin-left: 5px;
  }

  #differentiator-tabs li a {
    display: block;
    padding: 5px 15px;
    background: #f0f0f0;
    border: 1px solid #dddddd;
  }

  #differentiator-tabs li a:hover {
    text-decoration: none;
  }

  #differentiator-tabs li.open a {
    background: #ffffff;
    border-bottom: 1px solid #ffffff;
  }

  #differentiator-content {
    clear: both;
  }

  /* Columns */

  #differentiator .diff-articles {
    float: left;
    width: 50px;
    margin-right: 10px;
  }

  #differentiator .diff-content {
    float: left;
    width: 540px;
  }

  #differentiator .diff-changes {
    float: left;
    width: 90px;
    margin-left: 10px;
  }

  #differentiator .diff-column-title {
    margin-bottom: 5px;
    font-size: 8pt;
    text-transform: uppercase;
    border-bottom: 1px solid #dddddd;
  }

  /* Articles */

  #diff-articles-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  #diff-articles-list li {
    margin-bottom: 4px;
  }

  #diff-articles-list li a {
    display: block;
    padding: 5px;
    font-size: 10pt;
  }

  #diff-articles-list li a:hover {
    text-decoration: none;
    background: #f0f0f0;
  }

  /* Changes */

  #diff-changes-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  #diff-changes-list li {
    margin-bottom: 4px;
  }

  #diff-changes-list li a {
    display: block;
    padding: 5px;
    font-size: 7pt;
    line-height: 1.2em;
    text-align: center;
    background: #f0f0f0;
    border: 1px solid #dddddd;
  }

  #diff-changes-list li a.selected {
    background: red;
  }

  #diff-changes-list li a:hover {
    text-decoration: none;
    background: #f0f0a0;
  }

  #diff-changes-list li a .author {
    padding-top: 5px;
  }

  /* Editor */

  #diff-content-container {
    padding: 5px;
    border: 1px solid #dddddd;
  }

  #diff-document-title {
    height: 25px;
    margin-bottom: 5px;
    font-size: 14pt;
    font-weight: bold;
    border-bottom: 1px solid #dddddd;
  }

  #diff-document-sub-title {
    height: 50px;
    font-size: 10pt;
    font-weight: bold;
  }

  #diff-content-elements {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  #diff-content-elements li {
    margin-bottom: 10px;
  }

  #diff-content-container .indent {
    padding: 0 10px;
  }

  #diff-content-container a.header {
    display: block;
    padding: 5px 10px;
    font-size: 12pt;
    font-weight: bold;
/*    letter-spacing: -1px;*/
    background: #f0f0f0;
  }

  #diff-content-container a.header:hover {
    text-decoration: none;
  }

  #diff-content-container p {
    font-size: 10pt;
    line-height: 1.2em;
    padding-top: 10px;
  }

  #diff-content-container label {
    font-size: 8pt;
    text-transform: uppercase;
  }

  /* Change proposals under each artible */

  #diff-content-container .changes {
  }

  #diff-content-container .changes ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  #diff-content-container .changes ul li {
    margin-bottom: 4px;
  }

  #diff-content-container .changes a {
    display: block;
    clear: both;
    padding: 2px 2px 2px 26px;
    border: 1px solid #dddddd;
    background-color: #f0f0f0;
  }

  #diff-content-container .changes a.selected {
    background-color: red;
  }

  #diff-content-container .changes a:hover {
    background-color: #f0f0a0;
    text-decoration: none;
  }

  #diff-content-container .changes a,
  #diff-content-container .changes a.selected,
  #diff-content-container .changes a:hover {
    background-image: url(/images/document_16.png);
    background-repeat: no-repeat;
    background-position: 4px center;
  }

  #diff-content-container .changes a label {
    display: block;
    font-weight: bold;
    text-transform: none;
  }

  .clear {
    clear: both;
  }

</style>

<div id="differentiator">
  <div id="diff-document-title"><%= @proposal.priority_process.priority.name %></div>
  <div id="diff-document-sub-title"><%= @proposal.title(true) %></div>
  <ul id="differentiator-tabs">
    <li class="open"><a href="#">Edit</a></li>
    <li><a href="#">Preview</a></li>
  </ul>
  <div id="differentiator-content">
    <div class="diff-articles">
      <div class="diff-column-title">Greinar</div>
      <ul id="diff-articles-list">
        <% for pe in @proposal.process_document_elements.articles %>
        <li><a href="#G<%= pe.id %>"><%= pe.content_text_only %></a></li>
        <% end %>
      </ul>
    </div>
    <div class="diff-content">
      <div class="diff-column-title">Frumvarp</div>
      <div id="diff-content-container">
        <ul id="diff-content-elements">
          <% for pe in @proposal.process_document_elements.articles %>
          <!-- <li>
            <a name="K1" class="header">I. kafli. Almenn ákvæði.</a>
          </li> -->
          <li>
            <a name="G<%= pe.id %>" class="header"><%= pe.content_text_only %></a>
            <div class="indent">
              <p><%= pe.children.first.content %></p>
              <% unless pe.user_proposals.blank? %>
              <div class="changes">
                <label>Breytingartillögur</label>
                <ul>
                  <% for up in pe.user_proposals %>
                  <li id="diff-content-change-<%= up.id %>" rel="user-<%= up.user.id %>"><a href="#" onclick="return toggle_change_element(<%= up.id %>);" class="diff-radius"><label><%= up.user.real_name %>:</label><%= up.content.clean_excerpt(:max_length => 100, :use_spaces => true) %></a></li>
                  <% end %>
                </ul>
              </div>
              <% end %>
            </div>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="diff-changes">
      <div class="diff-column-title">Br.tillögur</div>
      <ul id="diff-changes-list">
        <% for element in @proposal.find_changes_grouped_by_user %>
        <li id="diff-changes-document-user-<%= element.user.id %>">
          <a href="#" onclick="return toggle_change_user(<%= element.user.id %>);">
            <%= image_tag("/images/document_32.png") %>
            <div class="author"><%= element.user.real_name %></div>
          </a>
        </li>
        <% end %>
      </ul>
    </div>
    <div class="clear"></div>
  </div>
</div>

<% form_for(@proposal, :html => { :id => "diffform" }, :url => { :action => "save" }) do |f| %>
  <%= f.hidden_field :id %>
<% end %>

