<div id="differentiator">
  <div id="diff-document-title"><%= @proposal.process_document.priority_process.priority.name %></div>
  <div id="diff-document-sub-title"><%= @proposal.process_document.title(true) %></div>
  <ul id="differentiator-tabs">
    <li><a href="/uidiff/edit/<%= @proposal.id %>">Edit</a></li>
    <li class="open"><a href="#" onclick="return false;">Preview</a></li>
  </ul>
  <div id="differentiator-content">
    <div class="diff-content-wide">
      <div id="diff-content-container">
        <% @proposal.generated_proposal_elements.each_with_index do |element, index| %>
          <strong><%= index+1 %>. gr.</strong><br />
          <br />
          <%= element.process_document_element.content %>
          <br />
        <% end %>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>
